$size: 64px;
$left-size: 6px;

.loading-container {
  position: relative;
  > .loading {
    display: inline-block;
    position: absolute;
    left: 50%;

    @media only screen and (max-width: 590px) {
      left: 38%;
    }
    width: $size;
    height: $size;
    div {
      display: inline-block;
      position: absolute;
      left: $left-size;
      width: 13px;
      background: #28a745;
      animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      &:nth-child(1) {
        left: $left-size;
        animation-delay: -0.24s;
      }
      &:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
      }
      &:nth-child(3) {
        left: 45px;
        animation-delay: 0;
      }
    }
  }
}

@keyframes lds {
  0% {
    top: $left-size;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}
