<div class="container">
  <h1 class="text-center">Colaboradores</h1>
  <hr class="my-5">
  <div class="column col-12 m-auto d-block mt-5">
    <div class="post-module">
      <div class="thumbnail">
        <div class="date">
          <a
            href="https://www.linkedin.com/in/efra%C3%ADn-p%C3%A9rez-824bbb148/"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
        <img src="src/assets/img/perfil.jpg" />
      </div>
      <div class="post-content">
        <h1 class="title">Efraín Pérez</h1>
        <h2 class="sub_title">
          Estudiante de Ingeniería de Sistemas y Computación
        </h2>
        <span class="description d-flex justify-content-between">
          <a href="mailto:efrain.abperez23@gmail.com"
            ><i class="fas fa-at"></i
          ></a>
          <a href="https://github.com/EfrainPerez23" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a href=" https://wa.me/50763034461" target="_blank"
            ><i class="fab fa-whatsapp"></i
          ></a>
        </span>
        <div class="post-meta"></div>
      </div>
    </div>
  </div>
</div>
